extends ../layouts/main-layout.pug

block content
    form(action="/admin/products" method="POST")

        input(type="hidden" name="id" value=`${product.id}`)
        .label(for="number") Ürün Adı:
        br
        input(type="text" id="name" name="name" value=`${product.name}`)
        br
        .label(for="name") Kategory Adı:
        br
        select.form-control#categoryid(name="categoryid")
            option(value="-1") Kategori sec
            each category in categories 
                option(value=`${category.id}`)  #{category.name}
        br
        .label(for="price") Ürün Fiyatı:
        br
        input(type="number" id="price" name="price" value=`${product.price}`)  
        br
        .label(for="description") Ürün Açıklaması:
        br
        input(type="text" id="description" name="description" value=`${product.description}`)
        br
        input.btn.btn-success(type="submit" value="Güncelle")