mixin createProduct(product)
    tr
        th(scope="row") #{product.id}
        td(scope="row") #{product.name} 
        td(scope="row") #{product.price} 
        td(scope="row") #{product.description} 
        td 
            a(href=`products/${product.id}`).btn.btn-secondary Detaylar
        td
            form(action='/cart' method='POST')
                input(type='hidden' name='productId' value=`${product.id}`)
                button(type="submit").btn.btn-primary Satın Al 

