mixin createProduct(product)
    tr
        th(scope="row") #{product.id}
        td(scope="row") #{product.name} 
        td(scope="row") #{product.price} 
        td(scope="row") #{product.description} 
        td 
            a(href=`products/${product.id}`).btn.btn.primary Detaylar
        td
            button(type="button").btn.btn-primary Satın Al 

